<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'food/style.css' %}">
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'food:index' %}">Food App</a>
    <div class="navbar">
      <a href="{% url 'food:new' %}" class="nav-item nav-link">Add Item</a>
      <a href="" class="nav-item nav-link">Delete Item</a>
      <a href="{% url 'food:index' %}" class="nav-item nav-link">View Items</a>
    </div>
  </nav>


{% block content %}
{% endblock  %}

</body>
</html>
